<template name="front">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="logo">
          <img class="emoji-logo" src="/stuck_out_tongue_winking_eye.png">
          <span class="logo-text"> lingus</span><br>
          <p>Define and share your lingos with <strong>lingus</strong>!</p>
        </div>

        <div class="search-main">
          <form role="search">
            <div class="form-group input-group input-group-lg">
              <input type="search" class="form-control" placeholder="Search for a lingo">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </form>          
        </div>

      </div>
    </div>
  </div>
</template>