.emoji {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  margin-bottom: -0.25em;
}

.emoji-nav {
  width: 2em;
  height: 2em;
  display: inline-block;
  margin-bottom: 1.4em;
}

.navtitle {
  font-size: 36px;
  font-weight: 500;
}

.lingo {
  font-size: 20px;
  font-weight: 500;
}

.spinner {
  position: relative;
  top: -70px;
}

.vcenter {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.glyphicon-lg {
  font-size: 24px;
  line-height: 1.33;
}

.starcount {
  font-size: 30px;
}

.definition {
  position: relative;
  transition: all 300ms 0ms ease-in;
}

.definition .animate {
  -webkit-transition: all 300ms 0ms;
  -webkit-transition-delay: ease-in;
  -moz-transition: all 300ms 0ms ease-in;
  -moz-transition-delay: ease-in;
  -o-transition: all 300ms 0ms ease-in;
  -o-transition-delay: ease-in;
  transition: all 300ms 0ms ease-in;
}

.logo {
  margin-top: 10em;
  text-align: center;
}

.emoji-logo {
  width: 3em;
  height: 3em;
  display: inline-block;
  margin-bottom: 2.2em;
}

.logo-text {
  font-size: 3.7em;
  font-weight: 500;
  letter-spacing: .01px;
}