<template name="definitionAdd">
  <form role="add">
    <div class="form-group">
      <textarea name="content" class="form-control" placeholder="Add a new definition for this lingo, e.g., 'this lingo is only used by cool people'" rows="3"></textarea>
    </div>
    <div class="form-group">
      <textarea name="example" class="form-control" placeholder="Give it a usage example, e.g., 'P: Who would ever talk like that?'" rows="2"></textarea>
    </div>
    <button type="submit" class="btn btn-default">
      Submit
    </button>
  </form>
</template>