<template name="lingosList">
  <form role="search">
    <div class="form-group input-group">
      <input type="search" class="form-control" placeholder="Search for a lingo">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>
    </div>
  </form>
  <div class="lingos">
    <p class="text-center">LINGO LIST</p>
    <p>
      {{#each lingos}}
        {{> lingoItem}}
      {{/each}}
    </p>
  </div>
  <form role="add">
    <div class="form-group input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-plus"></span>
      </span>
      <input type="text" class="form-control" placeholder="Add a new lingo">
    </div>
  </form>
</template>